.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 5vh;
  text-align: center;
  padding-bottom: 20px;
  width: 80%;
}

.settings-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  .help-icon {
    position: relative;
    background-color: #D4F0FF;
    border: 1px solid #D4F0FF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    left: 49%;
    top: -40px;
    line-height: 14px;
    &::before {
      content: '?';
      font-size: 12px;
      font-weight: bold;
      color: #575757;
    }
    &:focus {
      outline: none;
    }
  }
  .options {
    display:flex;
    flex-direction: row;
    align-items: center;
    input[type=number] {
      width: 55px;
      padding-right: .3rem;
      height: calc(1.5em + 2px);
    }
    .first-column {
      display: flex;
      flex-direction: column;
      padding-right: 5px;
      .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 5px;
        label {
          padding-right: 35px;
          white-space: nowrap;
          margin-bottom: 0;
        }
      }
      .reverse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        label {
          white-space: nowrap;
        }
      }
      .eight-key {
        display: flex;
        flex-direction: row;
        align-items: center;
        label {
          white-space: nowrap;
        }
      }
    }
  }
  .divider {
    width: 1px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 1px solid grey;
  }
  button {
    margin-left: 5px;
    height: 50px;
  }
}

.bar {
  margin-top: 25vh;
  height: 50px;
  border-radius: 25px;
  border: 2px solid black;
  padding-right: 4px;
}

.circle {
  display: inline-block;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid black;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  &.blue {
    background: linear-gradient(180deg, rgba(132,124,210,1) 0%, rgba(32,234,254,1) 84%);
  }
  &.green {
    background: linear-gradient(180deg, rgba(175,197,145,1) 0%, rgba(222,245,74,1) 84%);
  }
  &.red {
    background: rgb(252, 40, 3);
  }
}

.arrow {
  background-image: url("./assets/arrow.svg");
  fill: white;
  height: 40px;
  width: 40px;
  margin-top: 2px;
  margin-left: 2px;
  &.up {
    transform: rotate(90deg);
  }
  &.down {
    transform: rotate(270deg);
  }
  &.right {
    transform: rotate(180deg);
  }
  &.top-left {
    transform: rotate(45deg);
  }
  &.top-right {
    transform: rotate(135deg);
  }
  &.bottom-left {
    transform: rotate(315deg);
  }
  &.bottom-right {
    transform: rotate(225deg);
  }
}